<form>
  <div class="sub-title">{{ '$prompt.title' | xI18n }}</div>
  @if (allPromptList().length === 0) {
    <div class="empty">
      <x-empty></x-empty>
      <x-button (click)="addPrompt()" icon="fto-plus" flat plain>{{ '$base.add' | xI18n }}</x-button>
    </div>
  } @else {
    <div class="prompts">
      <x-input-group compact class="search">
        <x-input #inputSearch [field]="form.value" icon="fto-search" iconLayout="left" style="width: 100%"></x-input>
        <x-button (click)="addPrompt()" icon="fto-plus" flat plain>{{ '$base.add' | xI18n }}</x-button>
      </x-input-group>
      @for (item of promptList(); track item.id + item.name + item.content) {
        <div class="prompt" (click)="updatePrompt(item)">
          <div class="info">
            <div class="name" x-keyword [text]="keywordText()" [caseSensitive]="false">{{ item.name }}</div>
            <div
              class="sub-content truncated app-markdown"
              [title]="item.content"
              [innerHTML]="item.content | markdown"
            ></div>
          </div>
          @if (item.isActive) {
            <x-icon class="check" type="fto-check"></x-icon>
          }
        </div>
      }
      @if (promptList().length === 0) {
        <div class="empty">
          <x-empty></x-empty>
        </div>
      }
    </div>
  }
</form>
