<form [x-loading]="formLoading()" class="app-dialog-form" (submit)="save($event)">
  <h4 x-dialog-title class="title">
    {{ id() ? ('$base.edit' | xI18n) : ('$base.add' | xI18n) }} {{ '$prompt.title' | xI18n }}
  </h4>
  <x-button x-dialog-close class="close" icon="fto-x" size="large" flat text></x-button>
  <div x-dialog-content class="content">
    <div class="item required">
      <x-input floatLabel="on" [label]="'$base.name' | xI18n" [formField]="form.name" required></x-input>
    </div>

    <div class="item required">
      <app-editor
        class="editor"
        [label]="'$prompt.title' | xI18n"
        required
        [filename]="'.markdown'"
        [style.height.rem]="14"
        [style.width.%]="100"
        [options]="{
          lineNumbers: 'off',
          minimap: { enabled: false }
        }"
        [formField]="form.content"
      ></app-editor>
    </div>
    <div class="item">
      <x-textarea
        floatLabel="on"
        [label]="'$base.description' | xI18n"
        height="4rem"
        [formField]="form.description!"
      ></x-textarea>
    </div>
  </div>
  <div x-dialog-actions align="center" class="actions">
    @if (id()) {
      <x-button icon="fto-trash-2" attrType="button" type="danger" flat plain (click)="delete()">{{
        '$base.delete' | xI18n
      }}</x-button>
    }
    <x-button icon="fto-x" attrType="button" flat plain x-dialog-close>{{ '$base.cancel' | xI18n }}</x-button>
    <x-button
      flat
      icon="fto-save"
      type="primary"
      attrType="submit"
      [loading]="saveLoading()"
      [disabled]="form().invalid()"
      >{{ '$base.save' | xI18n }}</x-button
    >
  </div>
</form>
