<form [formGroup]="formGroup">
  <div class="sub-title">关于</div>
  <div class="about">
    <div class="item switch">
      <div class="label">切换开发人员工具</div>
      <x-switch [checkedText]="enableTpl" [unCheckedText]="disableTpl" formControlName="switchDev"></x-switch>
      <ng-template #enableTpl>
        <div class="about-icon"><x-icon type="fto-check"></x-icon> 启用</div>
      </ng-template>
      <ng-template #disableTpl>
        <div class="about-icon"><x-icon type="fto-x"> </x-icon> 禁用</div>
      </ng-template>
    </div>
  </div>
</form>
