@use '../../../../node_modules/@ng-nest/ui/style//params/index.scss' as *;

:host {
  display: block;
  width: 100%;
  height: 100%;
  .inner {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .content {
      width: 100%;
      height: 100%;
      overflow: auto;

      app-bubbles {
        display: block;
        padding: 2rem 2rem 9rem 2rem;
        margin: 0 auto;
        min-width: 30rem;
        max-width: 60rem;
      }
    }

    .form {
      position: absolute;
      width: 100%;
      padding: 0 2rem;
      display: flex;
      justify-content: center;

      .wrapper {
        flex: 0 1 100%;
        padding: 1rem 0 2rem 0;
        min-width: 30rem;
        max-width: 60rem;
        background-color: $x-background;
      }

      .project {
        padding: 1rem 0;
        .name {
          display: flex;
          align-items: center;
          font-size: 1.5rem;
          x-icon {
            font-size: 1.75rem;
            margin-right: 0.5rem;
            width: 2rem;
          }
        }
      }

      .project-sessions {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        padding: 1rem 0;
        .item {
          padding: 0.5rem 0.75rem;
          border-bottom: $x-border-base;
          display: flex;
          justify-content: space-between;
          align-items: center;
          transition: 0.3s all;
          cursor: pointer;
          .time {
            color: $x-text-500;
          }
          &:hover {
            background-color: $x-primary-900;
          }
        }
      }
    }

    &.has-content {
      .form {
        bottom: 0;
        .project,
        .project-sessions {
          display: none;
        }
      }
    }
    &.has-sessions:not(.has-content) {
      .form {
        top: 3rem;
      }
    }
  }
}
