@use '../../../../node_modules/@ng-nest/ui/style/params/index.scss' as *;

:host {
  display: block;
  width: 100%;
  height: 100%;
  .inner {
    width: 100%;
    height: 100%;

    .content {
      width: 100%;
      min-height: calc(100vh - 2.25rem);
      display: flex;
      app-bubbles {
        display: block;
        padding: 2rem 2rem 10rem 2rem;
        margin: 0 auto;
        min-width: 30rem;
        max-width: 60rem;
      }
    }

    .chat {
      position: relative;
      min-height: calc(100vh - 2.25rem);
      min-width: 0;
      flex: 1;
      display: flex;
      align-items: center;
      .form {
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: center;
        z-index: 10;

        .wrapper {
          flex: 0 1 100%;
          padding: 1rem 2rem;
          min-width: 20rem;
          max-width: 60rem;
          background-color: $x-background;
        }

        .sender-header {
          padding: 0rem 0.75rem;
          display: flex;
          align-items: center;
          gap: 0.25rem;
          x-file-card {
            margin-top: 0.75rem;
          }
        }

        .sender-footer {
          padding: 0rem 0.75rem;
          display: flex;
          align-items: center;
          gap: 0.25rem;

          .checked {
            margin-left: 0.5rem;
            color: $x-primary;
          }
          x-button {
            margin-bottom: 0.75rem;
          }
        }

        .project {
          padding: 1rem 0;
          .name {
            display: flex;
            align-items: center;
            font-size: 1.5rem;
            x-icon {
              font-size: 1.75rem;
              margin-right: 0.5rem;
              width: 2rem;
            }
          }
        }

        .project-sessions {
          display: flex;
          flex-direction: column;
          gap: 0.25rem;
          padding: 1rem 0;
          .item {
            padding: 0.5rem 0.75rem;
            border-bottom: $x-border-base;
            display: flex;
            justify-content: space-between;
            align-items: center;
            transition: 0.3s all;
            cursor: pointer;
            .time {
              color: $x-text-500;
            }
            &:hover {
              background-color: $x-primary-900;
            }
          }
        }
      }
    }

    .resize-handle {
      width: 3px;
      background-color: $x-background-a300;
      cursor: col-resize;
      position: relative;
    }

    .resize-handle:hover {
      background-color: $x-background-a500;
    }

    .resize-handle::after {
      content: '⋮';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $x-text-300;
      font-size: 0.875rem;
    }

    .files {
      width: 16rem;
      min-height: calc(100vh - 2.25rem);
      min-width: 12.5rem;
      max-width: 21.25rem;
      app-file-tree {
        padding: 0.0625rem;
      }
    }

    &.has-content {
      .chat {
        align-items: flex-start;
        .form {
          bottom: 0;
          .project,
          .project-sessions {
            display: none;
          }
        }
      }
    }
  }
}
