<form class="app-dialog-form">
  <x-button x-dialog-close class="close" icon="fto-x" size="large" flat text></x-button>
  <div x-dialog-content class="content">
    <div class="left">
      <h4 class="title">{{ '$settings.title' | xI18n }}</h4>
      <ul>
        @for (
          menu of [
            { id: 'manufacturer', label: '$manufacturer.title' | xI18n, icon: 'icon:manufacturer' },
            { id: 'model', label: '$model.title' | xI18n, icon: 'icon:model' },
            { id: 'prompt', label: '$prompt.title' | xI18n, icon: 'icon:prompt' },
            { id: 'skill', label: '$skill.title' | xI18n, icon: 'icon:skill' },
            { id: 'theme', label: '$theme.title' | xI18n, icon: 'icon:theme' },
            { id: 'general', label: '$general.title' | xI18n, icon: 'icon:about' }
          ];
          track menu
        ) {
          <li [class.selected]="selectedMenuId() === menu.id" (click)="selectMenu(menu)">
            <x-icon [type]="menu.icon"></x-icon> {{ menu.label }}
          </li>
        }
      </ul>
    </div>
    <div class="right">
      @if (selectedMenuId() === 'manufacturer') {
        <app-manufacturer-list></app-manufacturer-list>
      } @else if (selectedMenuId() === 'model') {
        <app-model-list></app-model-list>
      } @else if (selectedMenuId() === 'theme') {
        <app-theme></app-theme>
      } @else if (selectedMenuId() === 'prompt') {
        <app-prompt-list></app-prompt-list>
      } @else if (selectedMenuId() === 'skill') {
        <app-skill-list></app-skill-list>
      } @else if (selectedMenuId() === 'general') {
        <app-general></app-general>
      }
    </div>
  </div>
</form>
