@use '../../../../node_modules/@ng-nest/ui/style/params/index.scss' as *;

:host {
  .content {
    display: flex;
    min-height: 30rem;
    gap: 0;
    .left {
      width: 15rem;
      border-right: $x-border-base;
      .title {
        font-size: 1rem;
        padding: 1rem;
        margin: 0;
        border-bottom: 0;
        font-weight: 400;
      }
      ul {
        padding: 1rem;
        margin: 0;

        li {
          padding: 0.5rem 1rem;
          border-radius: $x-border-radius;
          cursor: pointer;
          transition: 0.3s all;
          display: flex;
          align-items: center;
          x-icon {
            font-size: 1.25rem;
            margin-right: 0.5rem;
          }
          &:not(:last-child) {
            margin-bottom: 0.5rem;
          }
          &:hover {
            background: $x-background-a200;
          }
          &.selected {
            background: $x-background-a300;
          }
        }
      }
    }

    .right {
      flex: 1;
    }
  }
}
