<form [x-loading]="formLoading()" class="app-dialog-form" (submit)="save($event)">
  <h4 x-dialog-title class="title">{{ id() ? ('$project.edit' | xI18n) : ('$project.new' | xI18n) }}</h4>
  <x-button x-dialog-close class="close" icon="fto-x" size="large" flat text></x-button>
  <div x-dialog-content class="content">
    <div class="item required">
      <x-input-group compact>
        <x-button
          x-popover
          [content]="contentTpl"
          [(visible)]="visible"
          [trigger]="'click'"
          [placement]="'bottom-start'"
          [panelClass]="'select-icon'"
          [minWidth]="'19.25rem'"
          plain
        >
          <x-icon
            class="project-icon"
            [type]="form.icon?.().value()"
            [style.color]="form.iconColor?.().value()"
          ></x-icon>
        </x-button>
        <x-input floatLabel="on" [label]="'$base.name' | xI18n" [formField]="form.name" required></x-input>
      </x-input-group>
    </div>
    <ng-template #contentTpl>
      <div class="icon-inner">
        <div class="colors">
          @for (color of colors(); track color) {
            <div
              class="color"
              [class.selected]="form.iconColor?.().value() === color"
              [style.backgroundColor]="color"
              (click)="setIconColor(color)"
            ></div>
          }
        </div>
        <div class="icons">
          @for (icon of icons(); track icon) {
            <div class="icon" [class.selected]="form.icon?.().value() === icon" (click)="setIcon(icon)">
              <x-icon [type]="icon"></x-icon>
            </div>
          }
        </div>
      </div>
    </ng-template>
    <div class="item required">
      <x-input-group compact>
        <x-button icon="fto-folder" (click)="selectDirectory()" plain> </x-button>
        <x-input
          floatLabel="on"
          [label]="'$project.workspace' | xI18n"
          [formField]="form.workspace!"
          required
        ></x-input>
      </x-input-group>
    </div>
  </div>
  <div x-dialog-actions align="center" class="actions">
    @if (id()) {
      <x-button icon="fto-trash-2" attrType="button" type="danger" flat plain (click)="delete()">{{
        '$base.delete' | xI18n
      }}</x-button>
    }
    <x-button icon="fto-x" attrType="button" flat plain x-dialog-close>{{ '$base.cancel' | xI18n }}</x-button>
    <x-button
      flat
      icon="fto-save"
      type="primary"
      attrType="submit"
      [loading]="saveLoading()"
      [disabled]="form().invalid()"
      >{{ '$base.save' | xI18n }}</x-button
    >
  </div>
</form>
