@use '../../../../node_modules/@ng-nest/ui/style/params/index.scss' as *;

:host {
  .content {
    .item .project-icon {
      font-size: 1rem;
    }
  }
}

::ng-deep {
  .select-icon {
    .x-popover-portal {
      padding-top: 0;
    }
  }
  .icon-inner {
    .colors {
      display: flex;
      gap: 0.5rem;
      padding-bottom: $x-padding-small;
      border-bottom: $x-border-base;
      .color {
        width: 1.75rem;
        height: 1.75rem;
        border-radius: 1.75rem;
        border: $x-border-base;
        border-color: transparent;
        transition: all 0.3s;
        cursor: pointer;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover:not(.selected) {
          border-color: $x-primary;
        }
        &.selected {
          &::before {
            content: ' ';
            position: absolute;
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 1.5rem;
            border: 0.125rem solid $x-background-100;
          }
        }
      }
    }
    .icons {
      display: flex;
      gap: 0.5rem;
      flex-wrap: wrap;
      padding-top: $x-padding-small;
      cursor: pointer;
      .icon {
        width: 1.75rem;
        height: 1.75rem;
        border-radius: $x-border-radius;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.25rem;
        transition: all 0.3s;
        border: $x-border-base;
        border-color: transparent;
        &:hover:not(.selected) {
          background-color: $x-primary-900;
          border-color: $x-primary-700;
        }
        &.selected {
          background-color: $x-primary-900;
          border-color: $x-primary;
        }
      }
    }
  }
}
