<div class="title" (click)="onToggle()">
  项目
  @if (!toggle()) {
    <x-icon type="fto-chevron-right"></x-icon>
  } @else {
    <x-icon type="fto-chevron-down"></x-icon>
  }
</div>
@if (toggle()) {
  <div class="list">
    @for (item of data(); track item.id) {
      <div
        class="item"
        x-ripple
        [class.selected]="selectedItem()?.id === item.id && selectedItem().name === item.name"
        (click)="itemClick(item)"
      >
        <div class="left">
          <x-icon class="item-icon" [type]="item.icon" [style.color]="item.iconColor"></x-icon>
          <span [title]="item.name">{{ item.name }}</span>
        </div>
        <x-dropdown
          (nodeClick)="operation($event, item)"
          portalMinWidth="8rem"
          (click)="$event.stopPropagation()"
          [trigger]="'click'"
          [data]="[
            { id: 'edit', label: '编辑', icon: 'fto-edit' },
            { id: 'delete', label: '删除', icon: 'fto-trash-2', divided: true, style: { color: '#f56c6c' } }
          ]"
        >
          <x-icon class="operation" type="fto-more-vertical"></x-icon>
        </x-dropdown>
      </div>
    }
  </div>
}
