@use '../../../../node_modules/@ng-nest/ui/style//params/index.scss' as *;

:host {
  /* 基础样式 */

  ::ng-deep {
    .x-bubble-content,
    .x-bubble-reasoning-content {
      font-family: $x-font-family;
      line-height: 1.6;
      box-sizing: border-box;
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin-top: 0.8em;
        margin-bottom: 0.8em;
        font-weight: 600;
        line-height: 1.2;
        &:last-child {
          margin-bottom: 0;
        }
        &:first-child {
          margin-top: 0;
        }
      }

      h1 {
        font-size: 2.2em;
        border-bottom: $x-border-base;
        padding-bottom: 0.2em;
      }
      h2 {
        font-size: 1.8em;
      }
      h3 {
        font-size: 1.5em;
      }
      h4 {
        font-size: 1.3em;
      }
      h5 {
        font-size: 1.1em;
      }
      h6 {
        font-size: 1em;
      }

      p {
        margin: 0 0 1em 0;
        &:last-child {
          margin-bottom: 0;
        }
      }

      a {
        color: $x-primary;
        text-decoration: none;
        transition: color 0.2s;
      }

      a:hover {
        color: $x-primary-300;
        text-decoration: underline;
      }

      ul,
      ol {
        padding-left: 2em;
        margin: 0.8em 0;
      }

      ul {
        list-style: disc;
      }

      ol {
        list-style: decimal;
      }

      blockquote {
        border-left: 0.125rem solid $x-primary-300;
        color: $x-text-300;
        margin: 1.5em 0;
        padding: 0.5em 1em;
        background-color: $x-background-a100;
      }

      code,
      pre,
      tt {
        font-family:
          DM Mono,
          SFMono-Regular,
          Consolas,
          Liberation Mono,
          Menlo,
          Courier,
          monospace;
      }

      code {
        background-color: $x-background-a100;
        padding: 0.2em 0.4em;
        border-radius: $x-border-base;
      }

      pre {
        background-color: $x-background-a100;
        border-radius: 6px;
        padding: 1em;
        overflow: auto;
        margin: 1.5em 0;
        border: $x-border-base;
      }

      pre code {
        background: none;
        padding: 0;
      }

      hr {
        border: none;
        border-top: $x-border-base;
        margin: 2em 0;
      }

      table {
        width: 100%;
        border-collapse: collapse;
        margin: 1.5em 0;
      }

      table th,
      table td {
        padding: 0.6em 1em;
        text-align: left;
        border: $x-border-base;
      }

      table th {
        background-color: $x-background-a100;
        font-weight: 600;
      }

      img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 1em auto;
        border-radius: 6px;
      }

      strong {
        font-weight: 600;
      }

      em {
        color: $x-text-300;
      }

      code {
        .token.decorator,
        .token.keyword,
        .token.builtin {
          color: #255fff;
        }

        .token.class-name,
        .token.property,
        .token.boolean {
          color: #f637e3;
        }

        .token.string,
        .token.number {
          color: #fa2c05;
        }

        .token.comment {
          color: #746e7c;
        }
      }

      code.language-html,
      code.language-xml {
        .token.tag,
        .token.punctuation {
          color: #255fff;
        }
        .token.attr-name {
          color: #f637e3;
        }
        .token.attr-value,
        .token.attr-value .token.punctuation {
          color: #fa2c05;
          &.attr-equals {
            color: #255fff;
          }
        }
        .token.attr-name {
          .attr-equals {
            color: #255fff;
          }
        }
      }

      code.language-scss,
      code.language-css,
      code.language-less {
        .token.selector,
        .token.function,
        .token.keyword {
          color: #0546ff;
        }
        .token.property {
          color: #f637e3;
        }
        .token.string {
          color: #fa2c05;
        }
        .token.punctuation {
          color: #474747;
        }
      }

      .code-block-wrapper {
        position: relative;
        margin: 1rem 0;
      }

      .code-block-actions {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        display: flex;
        gap: 0.5rem;
      }

      .button {
        background-color: $x-background-a400;
        border: $x-border-base;
        border-radius: $x-border-radius;
        padding: 0.25rem 0.5rem;
        cursor: pointer;
        z-index: 1;
        opacity: 0.8;
        transition: opacity 0.2s;
      }

      .button:hover {
        opacity: 1;
        background-color: $x-background-a600;
      }
    }
    .x-bubble-borderless.x-medium .x-bubble-content {
      padding: 0;
      width: 100%;
    }
  }
}
