@use '../../../../node_modules/@ng-nest/ui/style/params/index.scss' as *;

:host {
  /* 基础样式 */

  ::ng-deep {
    .x-bubble-borderless.x-medium .x-bubble-content {
      padding: 0;
      width: 100%;
      font-size: 1rem;
      line-height: 1.825rem;
    }
  }
}
