@use '../../../../../node_modules/@ng-nest/ui/style/params/index.scss' as *;

:host {
  .sub-title {
    font-size: 1rem;
    padding: 1rem;
    margin: 0;
  }
  .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: $x-border-base;
    border-radius: $x-border-radius;
    padding: 0.25rem 1rem;
    .label {
    }
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
  .empty {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .manufacturers {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: auto;
    max-height: calc(100vh - 3.125rem);
    .manufacturer {
      padding: 0.5rem 0.75rem;
      border: $x-border-base;
      border-radius: $x-border-radius;
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: 0.3s all;
      cursor: pointer;
      &.checked {
        background-color: $x-primary-900;
        border-color: $x-primary;
      }
      &:hover:not(.checked) {
        background-color: $x-primary-900;
        border-color: $x-primary-700;
      }
      .info {
        display: flex;
        flex-direction: column;
      }
      .name {
        font-weight: 500;
      }
      .url {
        color: $x-text-600;
        font-size: 0.75rem;
      }
      .check {
        font-size: 1.25rem;
        color: $x-primary;
      }
    }
  }
}
