<form class="app-dialog-form" (submit)="save()">
  @if (!loading()) {
    <x-button x-dialog-close class="close" icon="fto-x" size="large" flat text></x-button>
  }
  <div x-dialog-content class="content">
    <div class="search">
      <x-icon type="fto-search"></x-icon>
      <x-input
        #autoComplete
        [variant]="'borderless'"
        [formField]="form.title"
        size="big"
        [placeholder]="'$layout.searchByModel' | xI18n"
      ></x-input>
    </div>
    <div class="list" [x-loading]="loading()">
      <div class="left">
        @if (manufacturerList().length === 0) {
          <x-empty></x-empty>
        } @else {
          <x-list
            [data]="manufacturerList()"
            [nodeTpl]="manufacturerTpl"
            (nodeClick)="manufacturerClick($event)"
            [caseSensitive]="false"
            [formField]="form.manufacturerId"
            [inPortal]="true"
          ></x-list>

          <ng-template #manufacturerTpl let-node="$node">
            <div class="node">
              <span x-keyword [text]="keywordText()" [caseSensitive]="false" [attr.title]="node.name">{{
                node.name
              }}</span>
            </div>
          </ng-template>
        }
      </div>
      <div class="right">
        @if (modelList().length === 0) {
          <x-empty></x-empty>
        } @else {
          <x-list
            [data]="modelList()"
            [nodeTpl]="modelTpl"
            (nodeClick)="modelClick($event)"
            [caseSensitive]="false"
            [formField]="form.modelId"
            [inPortal]="true"
          ></x-list>

          <ng-template #modelTpl let-node="$node">
            <div class="model-node">
              <div class="name">
                <span x-keyword [text]="keywordText()" [caseSensitive]="false" [attr.title]="node.name">
                  {{ node.name }}</span
                >
                @if (node.usePrompt) {
                  <x-icon type="icon:prompt"></x-icon>
                }
                @if (node.useUploadImage) {
                  <x-icon type="fto-image"></x-icon>
                }
                @if (node.useUploadVideo) {
                  <x-icon type="fto-video"></x-icon>
                }
              </div>
              <div class="code">
                <span x-keyword [text]="keywordText()" [caseSensitive]="false" [attr.title]="node.code">
                  {{ node.code }}
                </span>
                <x-button
                  [icon]="node.$icon ?? 'fto-copy'"
                  onlyIcon
                  flat
                  plain
                  text
                  type="primary"
                  size="mini"
                  (click)="onCopy($event, node)"
                ></x-button>
              </div>
              <span class="description" [attr.title]="node.description">{{ node.description }}</span>
              <div class="tags">
                @for (tag of node.tags; track tag) {
                  <x-tag
                    size="mini"
                    [style]="{
                      color: 'var(--x-text-300)',
                      borderColor: 'var(--x-background-a500)'
                    }"
                    >{{ '$model.' + tag | xI18n }}</x-tag
                  >
                }
              </div>
            </div>
          </ng-template>
        }
      </div>
    </div>
  </div>
  <div x-dialog-actions align="center" class="actions">
    <x-button icon="fto-x" attrType="button" flat plain x-dialog-close>{{ '$base.cancel' | xI18n }}</x-button>
    <x-button
      flat
      icon="fto-save"
      type="primary"
      attrType="submit"
      [loading]="saveLoading()"
      [disabled]="form().invalid()"
      >{{ '$base.ok' | xI18n }}</x-button
    >
  </div>
</form>
