@use '../../../../../node_modules/@ng-nest/ui/style/params/index.scss' as *;

:host {
  .sub-title {
    font-size: 1rem;
    padding: 1rem;
    margin: 0;
  }
  .general {
    padding: 1rem;

    .general-icon {
      display: flex;
      align-items: center;
      x-icon {
        font-size: calc(#{$x-font-size} + 0.25rem);
        margin-right: 0.25rem;
      }
    }
  }
}
