<form [x-loading]="formLoading()" [formGroup]="form" class="app-dialog-form" (ngSubmit)="save()">
  <h4 x-dialog-title class="title">{{ id() ? '修改' : '新增' }}模型</h4>
  <x-button x-dialog-close class="close" icon="fto-x" size="large" flat text></x-button>
  <div x-dialog-content class="content">
    <x-slider [data]="['基本信息', '请求方式']" [(activatedIndex)]="sliderBase"> </x-slider>
    @if (sliderBase() === 0) {
      <div class="list">
        <div class="item">
          <x-input floatLabel="on" label="名称" formControlName="name" required></x-input>
        </div>
        <div class="item">
          <x-input floatLabel="on" label="编码" formControlName="code" required></x-input>
        </div>
        <div class="item">
          <x-textarea floatLabel="on" label="描述" height="8rem" formControlName="description"></x-textarea>
        </div>
        <div class="row">
          <div class="item required switch">
            <label>切换成当前模型</label>
            <x-switch formControlName="isActive" required></x-switch>
          </div>
          <div class="item switch">
            <label class="label">
              <x-icon type="icon:prompt"></x-icon>
              <span class="text">支持系统提示词</span>
            </label>
            <x-switch formControlName="usePrompt"></x-switch>
          </div>
        </div>
        <div class="row">
          <div class="item switch">
            <label class="label"><x-icon type="fto-image"></x-icon> <span class="text">支持图片上传</span></label>
            <x-switch formControlName="useUploadImage"></x-switch>
          </div>
          <div class="item switch">
            <label class="label"><x-icon type="fto-video"></x-icon> <span class="text">支持视频上传</span></label>
            <x-switch formControlName="useUploadVideo"></x-switch>
          </div>
        </div>
        <div class="item">
          <x-select
            [placeholder]="'标签'"
            [style.width.px]="300"
            [data]="['深度思考', '文生图', '图生文', '视频理解']"
            formControlName="tags"
            multiple
          ></x-select>
        </div>
      </div>
    } @else if (sliderBase() === 1) {
      <div class="list">
        <div class="item required">
          <x-radio
            label="请求方式："
            [data]="['OpenAI', 'Http']"
            direction="row"
            formControlName="requestType"
            required
          ></x-radio>
        </div>
        @if (form.get('requestType')?.value === 'OpenAI') {
          <div class="column">
            <x-slider
              [style.marginBottom]="'0.25rem'"
              [data]="['输入转换', '输出转换']"
              size="mini"
              [(activatedIndex)]="sliderFunction"
            >
            </x-slider>
            @if (sliderFunction() === 0) {
              <ng-container *ngTemplateOutlet="inputTpl; context: { helpType: 'input' }"></ng-container>
            } @else if (sliderFunction() === 1) {
              <ng-container *ngTemplateOutlet="outputTpl; context: { helpType: 'output' }"></ng-container>
            }
          </div>
        } @else if (form.get('requestType')?.value === 'Http') {
          <div class="item http attrs">
            <x-input-group compact>
              <x-select
                style="flex: initial; width: 6rem"
                [data]="['POST']"
                clearable="false"
                formControlName="method"
              ></x-select>
              <x-input floatLabel="on" label="请求地址" formControlName="url"></x-input>
            </x-input-group>
            <x-slider
              [style.margin]="'2rem 0 0.25rem 0'"
              size="mini"
              [data]="['Headers', 'Body', '输入转换', '输出转换']"
              [(activatedIndex)]="sliderHttp"
            >
            </x-slider>
            @if (sliderHttp() === 0) {
              <div class="attrs-table" formArrayName="headers">
                <table>
                  <thead>
                    <tr>
                      <th width="40"></th>
                      <th>Key</th>
                      <th>Value</th>
                      <th width="35">
                        <x-button size="mini" attrType="button" icon="fto-plus" flat plain (click)="add()"></x-button>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    @for (control of headers.controls; track control) {
                      <tr [formGroupName]="$index">
                        <td class="button">
                          <x-checkbox class="checkbox" [data]="['']" formControlName="enabled" single></x-checkbox>
                        </td>
                        <td>
                          <x-input formControlName="key"></x-input>
                        </td>
                        <td>
                          <x-input-group compact>
                            <x-input formControlName="value"></x-input>
                            <x-button icon="icon:function" (click)="showFunction(control)" [title]="'函数'"></x-button>
                          </x-input-group>
                          <input type="hidden" formControlName="valueFunction" />
                        </td>
                        <td class="button">
                          <x-button
                            icon="fto-trash-2"
                            attrType="button"
                            size="mini"
                            flat
                            plain
                            (click)="remove($index)"
                          >
                          </x-button>
                        </td>
                      </tr>
                    }
                  </tbody>
                </table>
              </div>
            } @else if (sliderHttp() === 1) {
              <div [style.height.rem]="16">
                <app-editor
                  class="editor"
                  [label]="bodyLabelTpl"
                  [filename]="'.json'"
                  [style.height.rem]="16"
                  [style.width.%]="100"
                  [options]="{
                    minimap: { enabled: false }
                  }"
                  formControlName="body"
                ></app-editor>
                <ng-template #bodyLabelTpl>
                  <div class="editor-label">
                    <span>Body（json）</span>
                    <x-button
                      size="small"
                      text
                      class="help"
                      icon="fto-help-circle"
                      [title]="'帮助'"
                      (click)="onHelp('body')"
                    ></x-button>
                  </div>
                </ng-template>
              </div>
            } @else if (sliderHttp() === 2) {
              <ng-container *ngTemplateOutlet="inputTpl; context: { helpType: 'http-input' }"></ng-container>
            } @else if (sliderHttp() === 3) {
              <ng-container *ngTemplateOutlet="outputTpl; context: { helpType: 'http-output' }"></ng-container>
            }
          </div>
        }
      </div>
    }

    <ng-template #inputTpl let-helpType="helpType">
      <div class="item">
        <app-editor
          class="editor"
          [label]="inputLabelTpl"
          [filename]="'.js'"
          [style.height.rem]="16"
          [style.width.%]="100"
          [options]="{
            minimap: { enabled: false }
          }"
          formControlName="inputFunction"
        ></app-editor>
        <ng-template #inputLabelTpl>
          <div class="editor-label">
            <span>InputFunction(input) </span>
            <x-button
              size="small"
              text
              class="help"
              icon="fto-help-circle"
              [title]="'帮助'"
              (click)="onHelp(helpType)"
            ></x-button>
          </div>
        </ng-template>
      </div>
    </ng-template>

    <ng-template #outputTpl let-helpType="helpType">
      <div class="item">
        <app-editor
          class="editor"
          [label]="outputLabelTpl"
          [filename]="'.js'"
          [style.height.rem]="16"
          [style.width.%]="100"
          [options]="{
            minimap: { enabled: false }
          }"
          formControlName="outputFunction"
        ></app-editor>
        <ng-template #outputLabelTpl>
          <div class="editor-label">
            <span>OutputFunction(output) </span>
            <x-button
              size="small"
              text
              class="help"
              icon="fto-help-circle"
              [title]="'帮助'"
              (click)="onHelp(helpType)"
            ></x-button>
          </div>
        </ng-template>
      </div>
    </ng-template>
  </div>
  <div x-dialog-actions align="center" class="actions">
    @if (id()) {
      <x-button icon="fto-trash-2" attrType="button" type="danger" flat plain (click)="delete()">删除</x-button>
    }
    <x-button icon="fto-x" attrType="button" flat plain x-dialog-close>取消</x-button>
    <x-button flat icon="fto-save" type="primary" attrType="submit" [loading]="saveLoading()" [disabled]="!form.valid"
      >保存</x-button
    >
  </div>
</form>
