<form [x-loading]="formLoading()" [formGroup]="form" class="app-dialog-form" (ngSubmit)="save()">
  <h4 x-dialog-title class="title">
    {{ id() ? ('$base.edit' | xI18n) : ('$base.add' | xI18n) }} {{ '$model.title' | xI18n }}
  </h4>
  <x-button x-dialog-close class="close" icon="fto-x" size="large" flat text></x-button>
  <div x-dialog-content class="content">
    <x-slider
      class="slider"
      [data]="['$model.baseinfo' | xI18n, '$model.requestType' | xI18n]"
      [(activatedIndex)]="sliderBase"
    >
    </x-slider>
    @if (sliderBase() === 0) {
      <div class="list">
        <div class="item">
          <x-input floatLabel="on" [label]="'$base.name' | xI18n" formControlName="name" required></x-input>
        </div>
        <div class="item">
          <x-input floatLabel="on" [label]="'$base.code' | xI18n" formControlName="code" required></x-input>
        </div>
        <div class="item">
          <x-textarea
            floatLabel="on"
            [label]="'$base.description' | xI18n"
            height="8rem"
            formControlName="description"
          ></x-textarea>
        </div>
        <div class="row">
          <div class="item required switch">
            <label>{{ '$model.isActive' | xI18n }}</label>
            <x-switch formControlName="isActive" required></x-switch>
          </div>
          <div class="item switch">
            <label class="label">
              <x-icon type="icon:prompt"></x-icon>
              <span class="text">{{ '$model.usePrompt' | xI18n }}</span>
            </label>
            <x-switch formControlName="usePrompt"></x-switch>
          </div>
        </div>
        <div class="row">
          <div class="item switch">
            <label class="label"
              ><x-icon type="fto-image"></x-icon>
              <span class="text">{{ '$model.useUploadImage' | xI18n }}</span></label
            >
            <x-switch formControlName="useUploadImage"></x-switch>
          </div>
          <div class="item switch">
            <label class="label"
              ><x-icon type="fto-video"></x-icon>
              <span class="text">{{ '$model.useUploadVideo' | xI18n }}</span></label
            >
            <x-switch formControlName="useUploadVideo"></x-switch>
          </div>
        </div>
        <div class="item">
          <x-select
            [placeholder]="'$model.tags' | xI18n"
            [style.width.px]="300"
            [data]="[
              { label: '$model.deepThinking' | xI18n, id: 'deepThinking' },
              { label: '$model.textToImage' | xI18n, id: 'textToImage' },
              { label: '$model.imageToText' | xI18n, id: 'imageToText' },
              { label: '$model.videoToText' | xI18n, id: 'videoToText' },
              { label: '$model.textToVideo' | xI18n, id: 'textToVideo' },
              { label: '$model.imageToVideo' | xI18n, id: 'imageToVideo' }
            ]"
            formControlName="tags"
            multiple
          ></x-select>
        </div>
      </div>
    } @else if (sliderBase() === 1) {
      <div class="list">
        <div class="item required">
          <x-radio
            [label]="'$model.requestType' | xI18n"
            [data]="['OpenAI', 'Http']"
            direction="row"
            formControlName="requestType"
            required
          ></x-radio>
        </div>
        @if (form.get('requestType')?.value === 'OpenAI') {
          <div class="column">
            <x-slider
              [style.marginBottom]="'0.25rem'"
              [data]="['$model.inputTranslation' | xI18n, '$model.outputTranslation' | xI18n]"
              size="mini"
              [(activatedIndex)]="sliderFunction"
            >
            </x-slider>
            @if (sliderFunction() === 0) {
              <ng-container *ngTemplateOutlet="inputTpl; context: { helpType: 'input' }"></ng-container>
            } @else if (sliderFunction() === 1) {
              <ng-container *ngTemplateOutlet="outputTpl; context: { helpType: 'output' }"></ng-container>
            }
          </div>
        } @else if (form.get('requestType')?.value === 'Http') {
          <div class="item http attrs">
            <x-input-group compact>
              <x-select
                style="flex: initial; width: 6rem"
                [data]="['POST', 'GET']"
                clearable="false"
                formControlName="method"
              ></x-select>
              <x-input floatLabel="on" [label]="'$model.url' | xI18n" formControlName="url"></x-input>
            </x-input-group>
            <x-slider
              [style.margin]="'2rem 0 0.25rem 0'"
              size="mini"
              [data]="[
                'Headers',
                form.get('method')?.value === 'POST' ? 'Body' : 'Params',
                '$model.outputTranslation' | xI18n
              ]"
              [(activatedIndex)]="sliderHttp"
            >
            </x-slider>
            @if (sliderHttp() === 0) {
              <div [style.height.rem]="16">
                <app-editor
                  class="editor"
                  [label]="headersLabelTpl"
                  [filename]="'.js'"
                  [style.width.%]="100"
                  [style.height.rem]="16"
                  [options]="{
                    minimap: { enabled: false }
                  }"
                  formControlName="headersFunction"
                ></app-editor>
                <ng-template #headersLabelTpl>
                  <div class="editor-label">
                    <span>HeadersFunction()</span>
                    <x-button
                      size="small"
                      text
                      class="help"
                      icon="fto-help-circle"
                      [title]="'$base.help' | xI18n"
                      (click)="onHelp('input-function')"
                    ></x-button>
                  </div>
                </ng-template>
              </div>
            } @else if (sliderHttp() === 1) {
              <div [style.height.rem]="16">
                @if (form.get('method')?.value === 'POST') {
                  <app-editor
                    class="editor"
                    [label]="bodyLabelTpl"
                    [filename]="'.js'"
                    [style.height.rem]="16"
                    [style.width.%]="100"
                    [options]="{
                      minimap: { enabled: false }
                    }"
                    formControlName="bodyFunction"
                  ></app-editor>
                  <ng-template #bodyLabelTpl>
                    <div class="editor-label">
                      <span>BodyFunction()</span>
                      <x-button
                        size="small"
                        text
                        class="help"
                        icon="fto-help-circle"
                        [title]="'$base.help' | xI18n"
                        (click)="onHelp('input-function')"
                      ></x-button>
                    </div>
                  </ng-template>
                } @else if (form.get('method')?.value === 'GET') {
                  <app-editor
                    class="editor"
                    [label]="paramsLabelTpl"
                    [filename]="'.js'"
                    [style.height.rem]="16"
                    [style.width.%]="100"
                    [options]="{
                      minimap: { enabled: false }
                    }"
                    formControlName="paramsFunction"
                  ></app-editor>
                  <ng-template #paramsLabelTpl>
                    <div class="editor-label">
                      <span>ParamsFunction()</span>
                      <x-button
                        size="small"
                        text
                        class="help"
                        icon="fto-help-circle"
                        [title]="'$base.help' | xI18n"
                        (click)="onHelp('input-function')"
                      ></x-button>
                    </div>
                  </ng-template>
                }
              </div>
            } @else if (sliderHttp() === 2) {
              <ng-container *ngTemplateOutlet="outputTpl; context: { helpType: 'http-output' }"></ng-container>
            }
          </div>

          @if (requests.controls.length > 0) {
            <div class="requests" formArrayName="requests">
              @for (control of requests.controls; track control) {
                <div class="item http attrs" [formGroupName]="$index">
                  <x-input-group compact>
                    <x-select
                      style="flex: initial; width: 6rem"
                      [data]="['POST', 'GET']"
                      clearable="false"
                      formControlName="method"
                    ></x-select>
                    <x-input floatLabel="on" [label]="'$model.url' | xI18n" formControlName="url"></x-input>
                  </x-input-group>
                  <x-slider
                    [style.margin]="'2rem 0 0.25rem 0'"
                    size="mini"
                    [data]="[
                      'Headers',
                      control.get('method')?.value === 'POST' ? 'Body' : 'Params',
                      '$model.outputTranslation' | xI18n
                    ]"
                    [activatedIndex]="httpTabMap.get($index)"
                    (activatedIndexChange)="httpTabMap.set($index, $event)"
                  >
                  </x-slider>
                  @if (httpTabMap.get($index) === 0) {
                    <div [style.height.rem]="16">
                      <app-editor
                        class="editor"
                        [label]="headersLabelTpl"
                        [filename]="'.js'"
                        [style.width.%]="100"
                        [style.height.rem]="16"
                        [options]="{
                          minimap: { enabled: false }
                        }"
                        formControlName="headersFunction"
                      ></app-editor>
                      <ng-template #headersLabelTpl>
                        <div class="editor-label">
                          <span>HeadersFunction(input)</span>
                          <x-button
                            size="small"
                            text
                            class="help"
                            icon="fto-help-circle"
                            [title]="'$base.help' | xI18n"
                            (click)="onHelp('request-input-function')"
                          ></x-button>
                        </div>
                      </ng-template>
                    </div>
                  } @else if (httpTabMap.get($index) === 1) {
                    <div [style.height.rem]="16">
                      @if (control.get('method')?.value === 'POST') {
                        <app-editor
                          class="editor"
                          [label]="bodyLabelTpl"
                          [filename]="'.js'"
                          [style.height.rem]="16"
                          [style.width.%]="100"
                          [options]="{
                            minimap: { enabled: false }
                          }"
                          formControlName="bodyFunction"
                        ></app-editor>
                        <ng-template #bodyLabelTpl>
                          <div class="editor-label">
                            <span>BodyFunction(input)</span>
                            <x-button
                              size="small"
                              text
                              class="help"
                              icon="fto-help-circle"
                              [title]="'$base.help' | xI18n"
                              (click)="onHelp('request-input-function')"
                            ></x-button>
                          </div>
                        </ng-template>
                      } @else if (control.get('method')?.value === 'GET') {
                        <app-editor
                          class="editor"
                          [label]="paramsLabelTpl"
                          [filename]="'.js'"
                          [style.height.rem]="16"
                          [style.width.%]="100"
                          [options]="{
                            minimap: { enabled: false }
                          }"
                          formControlName="paramsFunction"
                        ></app-editor>
                        <ng-template #paramsLabelTpl>
                          <div class="editor-label">
                            <span>ParamsFunction(input)</span>
                            <x-button
                              size="small"
                              text
                              class="help"
                              icon="fto-help-circle"
                              [title]="'$base.help' | xI18n"
                              (click)="onHelp('request-input-function')"
                            ></x-button>
                          </div>
                        </ng-template>
                      }
                    </div>
                  } @else if (httpTabMap.get($index) === 2) {
                    <div class="item">
                      <app-editor
                        class="editor"
                        [label]="outputLabelTpl"
                        [filename]="'.js'"
                        [style.height.rem]="16"
                        [style.width.%]="100"
                        [options]="{
                          minimap: { enabled: false }
                        }"
                        formControlName="outputFunction"
                      ></app-editor>
                      <ng-template #outputLabelTpl>
                        <div class="editor-label">
                          <span>OutputFunction(output) </span>
                          <x-button
                            size="small"
                            text
                            class="help"
                            icon="fto-help-circle"
                            [title]="'$base.help' | xI18n"
                            (click)="onHelp('http-output')"
                          ></x-button>
                        </div>
                      </ng-template>
                    </div>
                  }
                  <div class="item center" [style.marginTop.rem]="1">
                    <x-button
                      flat
                      plain
                      icon="fto-dash"
                      icon="fto-trash-2"
                      attrType="button"
                      (click)="removeRequest($index)"
                      >{{ '$base.delete' | xI18n }}</x-button
                    >
                  </div>
                </div>
              }
            </div>
          }
          <div class="item">
            <x-button flat plain icon="fto-plus" (click)="addRequest()" attrType="button">{{
              '$model.addRequest' | xI18n
            }}</x-button>
          </div>
        }
      </div>
    }

    <ng-template #inputTpl let-helpType="helpType">
      <div class="item">
        <app-editor
          class="editor"
          [label]="inputLabelTpl"
          [filename]="'.js'"
          [style.height.rem]="16"
          [style.width.%]="100"
          [options]="{
            minimap: { enabled: false }
          }"
          formControlName="inputFunction"
        ></app-editor>
        <ng-template #inputLabelTpl>
          <div class="editor-label">
            <span>InputFunction(input) </span>
            <x-button
              size="small"
              text
              class="help"
              icon="fto-help-circle"
              [title]="'$base.help' | xI18n"
              (click)="onHelp(helpType)"
            ></x-button>
          </div>
        </ng-template>
      </div>
    </ng-template>

    <ng-template #outputTpl let-helpType="helpType">
      <div class="item">
        <app-editor
          class="editor"
          [label]="outputLabelTpl"
          [filename]="'.js'"
          [style.height.rem]="16"
          [style.width.%]="100"
          [options]="{
            minimap: { enabled: false }
          }"
          formControlName="outputFunction"
        ></app-editor>
        <ng-template #outputLabelTpl>
          <div class="editor-label">
            <span>OutputFunction(output) </span>
            <x-button
              size="small"
              text
              class="help"
              icon="fto-help-circle"
              [title]="'$base.help' | xI18n"
              (click)="onHelp(helpType)"
            ></x-button>
          </div>
        </ng-template>
      </div>
    </ng-template>
  </div>
  <div x-dialog-actions align="center" class="actions">
    @if (id()) {
      <x-button icon="fto-trash-2" attrType="button" type="danger" flat plain (click)="delete()">{{
        '$base.delete' | xI18n
      }}</x-button>
    }
    <x-button icon="fto-x" attrType="button" flat plain x-dialog-close>{{ '$base.cancel' | xI18n }}</x-button>
    <x-button
      flat
      icon="fto-save"
      type="primary"
      attrType="submit"
      [loading]="saveLoading()"
      [disabled]="!form.valid"
      >{{ '$base.save' | xI18n }}</x-button
    >
  </div>
</form>
