<form [x-loading]="formLoading()" [formGroup]="form" class="app-dialog-form" (ngSubmit)="save()">
  <h4 x-dialog-title class="title">{{ id() ? '修改' : '新增' }}模型</h4>
  <x-button x-dialog-close class="close" icon="fto-x" size="large" flat text></x-button>
  <div x-dialog-content class="content">
    <div class="item">
      <x-input floatLabel="on" label="名称" formControlName="name" required></x-input>
    </div>
    <div class="item">
      <x-input floatLabel="on" label="编码" formControlName="code" required></x-input>
    </div>
    <div class="item">
      <x-textarea floatLabel="on" label="描述" height="8rem" formControlName="description"></x-textarea>
    </div>
    <div class="item required">
      <x-switch label="使用当前模型：" direction="row" formControlName="isActive" required></x-switch>
    </div>
    <div class="item required">
      <x-radio
        label="调用方式："
        [data]="['OpenAI', 'Http']"
        direction="row"
        formControlName="requestType"
        required
      ></x-radio>
    </div>
    <div class="item">
      <app-editor
        class="editor"
        [label]="inputLabelTpl"
        [filename]="'.js'"
        [style.height.rem]="8"
        [style.width.%]="100"
        [options]="{
          minimap: { enabled: false }
        }"
        formControlName="inputFunction"
      ></app-editor>
      <ng-template #inputLabelTpl>
        <span class="label">输入转换 InputFunction(input)</span>
      </ng-template>
    </div>
    <div class="item">
      <app-editor
        class="editor"
        [label]="outputLabelTpl"
        [filename]="'.js'"
        [style.height.rem]="8"
        [style.width.%]="100"
        [options]="{
          minimap: { enabled: false }
        }"
        formControlName="outputFunction"
      ></app-editor>
      <ng-template #outputLabelTpl>
        <span class="label">输出转换 OutputFunction(input)</span>
      </ng-template>
    </div>
  </div>
  <div x-dialog-actions align="center" class="actions">
    @if (id()) {
      <x-button icon="fto-trash-2" attrType="button" type="danger" flat plain (click)="delete()">删除</x-button>
    }
    <x-button icon="fto-x" attrType="button" flat plain x-dialog-close>取消</x-button>
    <x-button flat icon="fto-save" type="primary" attrType="submit" [loading]="saveLoading()" [disabled]="!form.valid"
      >保存</x-button
    >
  </div>
</form>
