<form>
  <div class="sub-title">{{ '$model.title' | xI18n }}</div>

  <div class="models">
    <div class="search">
      <x-select
        [data]="manufacturerList()"
        floatLabel="on"
        [label]="'$manufacturer.title' | xI18n"
        [formField]="formGroup.manufacturerId"
      ></x-select>
      <x-input-group compact>
        <x-input
          #inputSearch
          [formField]="formGroup.value"
          icon="fto-search"
          iconLayout="left"
          style="width: 100%"
        ></x-input>
        <x-button (click)="addModel()" icon="fto-plus" flat plain>{{ '$base.add' | xI18n }}</x-button>
      </x-input-group>
    </div>

    @for (item of modelList(); track item.id + item.name + item.code) {
      <div class="model" [class.checked]="item.isActive" (click)="updateModel(item)">
        <div class="info">
          <div class="name">
            <span x-keyword [text]="keywordText()" [caseSensitive]="false">{{ item.name }}</span>
            @if (item.usePrompt) {
              <x-icon type="icon:prompt"></x-icon>
            }
            @if (item.useUploadImage) {
              <x-icon type="fto-image"></x-icon>
            }
            @if (item.useUploadVideo) {
              <x-icon type="fto-video"></x-icon>
            }
          </div>
          <span class="code" x-keyword [text]="keywordText()" [caseSensitive]="false">{{ item.code }}</span>
          <div class="tags">
            @for (tag of item.tags; track tag) {
              <x-tag
                size="mini"
                [style]="{
                  color: 'var(--x-text-300)',
                  borderColor: 'var(--x-background-a500)'
                }"
                >{{ '$model.' + tag | xI18n }}</x-tag
              >
            }
          </div>
        </div>
        @if (item.isActive) {
          <x-icon class="check" type="fto-check"></x-icon>
        }
      </div>
    }

    @if (modelList().length === 0) {
      <div class="empty">
        <x-empty></x-empty>
      </div>
    }
  </div>
</form>
