@use '../../../../node_modules/@ng-nest/ui/style//params/index.scss' as *;

:host {
  display: block;
  width: 100%;
  height: 100%;
  .inner {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .content {
      width: 100%;
      height: 100%;
      overflow: auto;

      app-bubbles {
        display: block;
        padding: 2rem 2rem 9rem 2rem;
        margin: 0 auto;
        min-width: 30rem;
        max-width: 60rem;
      }
    }
    .form {
      position: absolute;
      width: 100%;
      padding: 0 2rem;
      display: flex;
      justify-content: center;

      .wrapper {
        flex: 0 1 100%;
        padding: 1rem 0 2rem 0;
        min-width: 30rem;
        max-width: 60rem;
        background-color: $x-background;
      }
    }

    &.has-content {
      .form {
        bottom: 0;
      }
    }
  }
}
