@use '../../../../node_modules/@ng-nest/ui/style/params/index.scss' as *;

:host {
  display: block;
  width: 100%;
  height: 100%;
  .inner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .content {
      width: 100%;
      min-height: calc(100vh - 2.25rem);

      app-bubbles {
        display: block;
        margin: 0 auto;
        padding: 2rem 2rem 10rem 2rem;
        min-width: 30rem;
        max-width: 60rem;
      }
    }
    .form {
      position: absolute;
      width: 100%;
      display: flex;
      justify-content: center;
      z-index: 10;
      .wrapper {
        flex: 0 1 100%;
        padding: 1rem 2rem;
        min-width: 30rem;
        max-width: 60rem;
        background-color: $x-background;
      }

      .sender-header {
        padding: 0rem 0.75rem;
        display: flex;
        align-items: center;
        gap: 0.25rem;
        x-file-card {
          margin-top: 0.75rem;
        }
      }

      .sender-footer {
        padding: 0rem 0.75rem;
        display: flex;
        align-items: center;
        gap: 0.25rem;

        .checked {
          margin-left: 0.5rem;
          color: $x-primary;
        }
        x-button {
          margin-bottom: 0.75rem;
        }
      }
    }

    &.has-content {
      .form {
        bottom: 0;
      }
    }
  }
}
