<form class="inner" [class.has-content]="data().length > 0" [formGroup]="formGroup">
  <div class="content">
    <app-bubbles
      [data]="data()"
      [loading]="loading()"
      (typingStart)="typing.set(true)"
      (typingEnd)="typing.set(false)"
    ></app-bubbles>
  </div>
  <div class="form">
    <div class="wrapper">
      <x-sender
        formControlName="content"
        [placeholder]="'Enter 发送，Alt + Enter 换行'"
        [footer]="footerTpl"
        [suffix]="suffixTpl"
        (submit)="onSubmit()"
      ></x-sender>
      <ng-template #footerTpl>
        @if (data().length === 0 || (data().length > 0 && selectedPrompt())) {
          <div class="sender-footer">
            <x-button
              [text]="!selectedPrompt()"
              [plain]="selectedPrompt()"
              [flat]="selectedPrompt()"
              (click)="onTool()"
              size="small"
            >
              @if (selectedPrompt()) {
                <x-icon type="fto-user"></x-icon>
                {{ selectedPrompt()?.name }}
              } @else {
                <x-icon type="fto-grid"></x-icon>
              }
            </x-button>
          </div>
        }
      </ng-template>
      <ng-template #suffixTpl>
        <div class="buttons">
          @if (loading() || this.typing()) {
            <x-sender-stop (click)="onStop()"></x-sender-stop>
          } @else {
            <x-button
              type="primary"
              icon="fto-send"
              [disabled]="formGroup.invalid"
              circle
              (click)="onSubmit()"
            ></x-button>
          }
        </div>
      </ng-template>
    </div>
  </div>
</form>
