<form class="inner" [class.has-content]="data().length > 0" [formGroup]="formGroup">
  <div class="content">
    <app-bubbles
      [data]="data()"
      [loading]="loading()"
      (typingStart)="typing.set(true)"
      (typingEnd)="typing.set(false)"
    ></app-bubbles>
  </div>
  <div class="form">
    <div class="wrapper">
      <x-sender
        formControlName="content"
        [placeholder]="'Enter 发送，Alt + Enter 换行'"
        [footer]="footerTpl"
        [suffix]="suffixTpl"
        (submit)="onSubmit()"
      ></x-sender>
      <ng-template #footerTpl>
        <div class="sender-footer">
          <x-button
            [text]="!deepThinking()"
            [plain]="deepThinking()"
            [flat]="deepThinking()"
            (click)="onDeepThinking()"
            size="small"
          >
            深度思考
            @if (deepThinking()) {
              <x-icon class="checked" type="fto-check"></x-icon>
            }
          </x-button>
        </div>
      </ng-template>
      <ng-template #suffixTpl>
        <div class="buttons">
          @if (loading() || this.typing()) {
            <x-sender-stop (click)="onStop()"></x-sender-stop>
          } @else {
            <x-button
              type="primary"
              icon="fto-send"
              [disabled]="formGroup.invalid"
              circle
              (click)="onSubmit()"
            ></x-button>
          }
        </div>
      </ng-template>
    </div>
  </div>
</form>
