<form>
  <div class="sub-title">{{ '$theme.title' | xI18n }}</div>
  <div class="theme list">
    <div class="item switch">
      <div class="label">{{ '$theme.background' | xI18n }}</div>
      <x-switch [checkedText]="moonTpl" [unCheckedText]="sunTpl" [formField]="formGroup.dark"></x-switch>
      <ng-template #moonTpl>
        <div class="theme-icon"><x-icon type="fto-moon"></x-icon> {{ '$theme.dark' | xI18n }}</div>
      </ng-template>
      <ng-template #sunTpl>
        <div class="theme-icon"><x-icon type="fto-sun"> </x-icon> {{ '$theme.light' | xI18n }}</div>
      </ng-template>
    </div>
    <div class="item switch" [style.paddingRight.rem]="0">
      <div class="label">{{ '$theme.primaryColor' | xI18n }}</div>
      <x-color-picker
        [style.width.rem]="6.75"
        variant="borderless"
        [formField]="formGroup.theme.primary"
        [clearable]="false"
      ></x-color-picker>
    </div>
  </div>
</form>
