@use '../../../../../node_modules/@ng-nest/ui/style//params/index.scss' as *;

:host {
  .sub-title {
    font-size: 1rem;
    padding: 1rem;
    margin: 0;
  }
  .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: $x-border-base;
    border-radius: $x-border-radius;
    padding: 0.25rem 1rem;
    .label {
    }
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
  .theme {
    padding: 1rem;

    .theme-icon {
      display: flex;
      align-items: center;
      x-icon {
        font-size: calc(#{$x-font-size} + 0.25rem);
        margin-right: 0.25rem;
      }
    }
  }
}
