<form [formGroup]="formGroup">
  <div class="sub-title">外观</div>
  <div formGroupName="theme" class="theme">
    <div class="item">
      <div class="label">背景</div>
      <x-switch [checkedText]="moonTpl" [unCheckedText]="sunTpl" formControlName="dark"></x-switch>
      <ng-template #moonTpl>
        <div class="theme-icon"><x-icon type="fto-moon"></x-icon> 黑暗</div>
      </ng-template>
      <ng-template #sunTpl>
        <div class="theme-icon"><x-icon type="fto-sun"> </x-icon> 明亮</div>
      </ng-template>
    </div>
    <div class="item" [style.paddingRight.rem]="0">
      <div class="label">主色</div>
      <x-color-picker [style.width.rem]="6.75" variant="borderless" formControlName="primary"></x-color-picker>
    </div>
  </div>
</form>
