@use '../../../../node_modules/@ng-nest/ui/style//params/index.scss' as *;

:host {
  display: block;
  width: 100%;
  height: 100%;
  .inner {
    position: relative;
    width: 100%;
    height: 100%;
  }
}
