@use '../../../node_modules/@ng-nest/ui/style/params/index.scss' as *;

$header-height: 2.25rem;
$aside-width: 12rem;

:host {
  &.collapsed {
    $aside-width: 3.25rem;
    aside {
      width: $aside-width;
      .menus .menu {
        > x-icon {
          margin-right: 0;
        }
        > span {
          display: none;
        }
      }
      .history {
        display: none;
      }
      .project {
        display: none;
      }
    }
    header {
      width: calc(100% - #{$aside-width});
      left: $aside-width;
    }
    main {
      padding-left: $aside-width;
    }
  }
  header {
    height: $header-height;
    display: flex;
    align-items: center;
    justify-content: space-between;
    -webkit-app-region: drag;
    user-select: none;
    background-color: $x-background-a100;
    position: fixed;
    top: 0;
    left: $aside-width;
    width: calc(100% - #{$aside-width});
    transition: 0.2s all;
    .left {
      display: flex;
      -webkit-app-region: no-drag;
    }
    .tools {
      -webkit-app-region: no-drag;
      display: flex;
      align-items: center;
    }
  }
  aside {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    background-color: $x-background-a100;
    width: $aside-width;
    height: 100%;
    transition: 0.3s all;
    .title {
      -webkit-app-region: drag;
      height: 3rem;
      display: flex;
      align-items: center;
    }
    .sticky {
      background-color: $x-background-a100;
      position: sticky;
      top: 0;
    }
    .scroll-container {
      height: 100vh;
      width: 100%;
    }
    .menus {
      padding: 0 0.5rem;
      .menu {
        display: flex;
        align-items: center;
        padding: 0.125rem 0.5rem;
        transition: all 0.3s;
        cursor: pointer;
        border-radius: $x-border-radius;
        white-space: nowrap;
        height: 2.25rem;
        &:hover {
          background-color: $x-background-a400;
        }
        > x-icon {
          margin-right: 0.5rem;
          font-size: 1.25rem;
        }
      }
    }
    .history,
    .project {
      margin-top: 1rem;
    }
  }
  main {
    min-height: 100vh;
    width: 100%;
    padding-top: $header-height;
    padding-left: $aside-width;
    transition: padding 0.3s;
    display: block;
    transition: 0.3s padding;
    .scroll-container {
      height: calc(100vh - #{$header-height});
      width: 100%;
    }
  }
}
