<header>
  <div class="left">
    @if (config.collapsed()) {
      <x-button class="btn" (click)="onCollapsed()" text size="small" icon="icon:collasped-right"></x-button>
    } @else {
      <x-button class="btn" (click)="onCollapsed()" text size="small" icon="icon:collasped-left"></x-button>
    }
    <app-model-switch></app-model-switch>
  </div>
  <div class="tools">
    <x-button (click)="switchDevTools()" size="small" text>切换开发人员工具</x-button>
    <x-button size="small" title="刷新" text icon="fto-refresh-ccw" (click)="refresh()"></x-button>
    <x-button size="small" title="设置" text icon="fto-settings" (click)="settings()"></x-button>
    &nbsp;
    <x-button (click)="minimize()" title="最小化" text icon="icon:win-minimize"></x-button>
    @if (isMaximized()) {
      <x-button (click)="unmaximize()" title="恢复" text icon="icon:win-recovery"></x-button>
    } @else {
      <x-button (click)="maximize()" title="最大化" text icon="icon:win-maximize"></x-button>
    }
    <x-button (click)="close()" title="关闭" type="danger" text icon="icon:win-close"></x-button>
  </div>
</header>
<aside>
  <x-scrollable [maxHeight]="'100vh'">
    <div class="sticky">
      <div class="title">
        <span></span>
      </div>
      <div class="menus">
        @for (menu of menuData(); track menu.id) {
          <div class="menu" x-ripple (click)="menuClick(menu)">
            <x-icon [type]="menu.icon"></x-icon>
            <span>{{ menu.label }}</span>
          </div>
        }
      </div>
    </div>
    @if (projectCount() > 0) {
      <div class="project">
        <app-project-list [(selectedItem)]="selectedItem" (delete)="onProjectDeleteItem($event)"></app-project-list>
      </div>
    }
    @if (sessionCount() > 0) {
      <div class="history">
        <app-history [(selectedItem)]="selectedItem" (delete)="onHistoryDeleteItem($event)"></app-history>
      </div>
    }
  </x-scrollable>
</aside>
<main>
  <x-scrollable [maxHeight]="'calc(100vh - 2.25rem)'">
    <router-outlet></router-outlet>
  </x-scrollable>
</main>
