<header>
  <div class="left">
    @if (config.collapsed()) {
      <x-button class="btn" (click)="onCollapsed()" text size="small" icon="icon:collasped-right"></x-button>
    } @else {
      <x-button class="btn" (click)="onCollapsed()" text size="small" icon="icon:collasped-left"></x-button>
    }
    <app-model-switch></app-model-switch>
  </div>
  <div class="tools">
    <x-button
      size="small"
      x-popover
      [content]="'$layout.refresh' | xI18n"
      text
      icon="fto-refresh-ccw"
      (click)="refresh()"
    ></x-button>
    <x-button
      size="small"
      x-popover
      [content]="'$layout.devtool' | xI18n"
      text
      icon="fto-code"
      (click)="switchDevTools()"
    ></x-button>
    <x-button
      size="small"
      x-popover
      [content]="'$layout.settings' | xI18n"
      text
      icon="fto-settings"
      (click)="settings()"
    ></x-button>
    &nbsp;
    <x-button (click)="minimize()" [title]="'$layout.minimize' | xI18n" text icon="icon:win-minimize"></x-button>
    @if (isMaximized()) {
      <x-button (click)="unmaximize()" [title]="'$layout.recovery' | xI18n" text icon="icon:win-recovery"></x-button>
    } @else {
      <x-button (click)="maximize()" [title]="'$layout.maximize' | xI18n" text icon="icon:win-maximize"></x-button>
    }
    <x-button (click)="close()" [title]="'$layout.close' | xI18n" type="danger" text icon="icon:win-close"></x-button>
  </div>
</header>
<aside>
  <x-scrollable [maxHeight]="'100vh'">
    <div class="sticky">
      <div class="title">
        @if (config.collapsed()) {
          <span>{{ '$layout.shortTitle' | xI18n }}</span>
        } @else {
          <span>{{ '$layout.title' | xI18n }}</span>
        }
      </div>
      <div class="menus">
        @for (
          menu of [
            { id: 'coversation', label: '$layout.new' | xI18n, icon: 'fto-plus' },
            { id: 'search', label: '$layout.search' | xI18n, icon: 'fto-search' },
            { id: 'project', label: '$layout.newProject' | xI18n, icon: 'fto-box' }
          ];
          track menu.id
        ) {
          <div class="menu" x-ripple (click)="menuClick(menu)">
            <x-icon [type]="menu.icon"></x-icon>
            <span>{{ menu.label }}</span>
          </div>
        }
      </div>
    </div>
    @if (projectCount() > 0) {
      <div class="project">
        <app-project-list [(selectedItem)]="selectedItem" (delete)="onProjectDeleteItem($event)"></app-project-list>
      </div>
    }
    @if (sessionCount() > 0) {
      <div class="history">
        <app-history [(selectedItem)]="selectedItem" (delete)="onHistoryDeleteItem($event)"></app-history>
      </div>
    }
  </x-scrollable>
</aside>
<main>
  <x-scrollable>
    <router-outlet></router-outlet>
  </x-scrollable>
</main>
