@use '../../../../node_modules/@ng-nest/ui/style/params/index.scss' as *;

:host {
  display: flex;
  justify-content: center;
  user-select: none;

  [ngTree] {
    width: 100%;
    background: $x-background;
    padding: 0;
    margin: 0;
  }
  [ngTreeItem] {
    cursor: pointer;
    list-style: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    padding: 0 0.25rem;
    line-height: 1.5rem;
    height: 1.5rem;
    border: $x-border-width solid transparent;
    outline: none;
    .icon {
      font-size: 1rem;
      width: 1rem;
      height: 1rem;
      display: flex;
      justify-items: center;
      align-items: center;
    }
    .filename {
      padding-right: 1rem;
      flex: 1;
      display: -webkit-box;
      line-clamp: 1;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      word-wrap: break-word;
      word-break: break-all;

      white-space: nowrap;
      width: 0;
    }
  }
  [ngTreeItem][aria-disabled='true'] {
    opacity: 0.5;
    cursor: default;
  }
  [ngTreeItem]:focus,
  [ngTreeItem]:hover {
    background-color: $x-background-a100;
  }
  [ngTreeItem]:focus {
    border: $x-border-width solid $x-primary;
  }
  [ngTreeItem][aria-selected='true'],
  [ngTreeItem][aria-selected='true'] .expand-icon {
    background-color: $x-background-a200;
  }
  .expand-icon {
    transition: transform 0.2s ease;
  }
  [ngTreeItem][aria-expanded='true'] .expand-icon {
    transform: rotate(90deg);
  }
  .selected-icon {
    visibility: hidden;
    margin-left: auto;
  }
  [ngTreeItem][aria-current] .selected-icon,
  [ngTreeItem][aria-selected='true'] .selected-icon {
    visibility: visible;
  }
  ul[role='group'] {
    padding-left: 0;
  }
  li[aria-expanded='false'] + ul[role='group'] {
    display: none;
  }

  .tree-item-sticky {
    position: sticky;
    top: 0;
    z-index: 999;
    background: $x-background;
  }
  .tree-item-cut {
    opacity: 0.5;
  }
}

.context-menu {
  margin: 0.0625rem 0;
  color: $x-text;
  width: 100%;
  background-color: $x-background-100;
  border-radius: $x-border-radius;
  box-shadow: $x-box-shadow;
  border: $x-border-width solid $x-border-200;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0.25rem;
  &-item {
    border-radius: $x-border-small-radius;
    display: flex;
    align-items: center;
    padding: 0.25rem 0.5rem;
    height: 2rem;
    transition: 0.3s all;
    cursor: pointer;
    > x-icon {
      margin-right: 0.25rem;
    }
    &:hover {
      background-color: $x-background-a200;
    }
  }
  &-separator {
    margin: 0.125rem 0;
    border-top: $x-border-width solid $x-border-200;
  }
}
