<div class="title">
  <span class="toggle" (click)="onToggle()">
    {{ '$layout.chat' | xI18n }}
    @if (!toggle()) {
      <x-icon type="fto-chevron-right"></x-icon>
    } @else {
      <x-icon type="fto-chevron-down"></x-icon>
    }
  </span>
  <span class="more" (click)="onMore()">{{ '$base.more' | xI18n }}</span>
</div>
@if (toggle()) {
  <div class="list">
    @for (item of data(); track item.id) {
      <div
        class="item"
        x-ripple
        [class.selected]="selectedItem()?.id === item.id && selectedItem().title === item.title"
        (click)="itemClick(item)"
      >
        <span [title]="item.title">{{ item.title }}</span>
        <x-dropdown
          (nodeClick)="operation($event, item)"
          portalMinWidth="8rem"
          (click)="$event.stopPropagation()"
          [trigger]="'click'"
          [data]="[
            { id: 'rename', label: '$base.rename' | xI18n, icon: 'fto-edit' },
            {
              id: 'delete',
              label: '$base.delete' | xI18n,
              icon: 'fto-trash-2',
              divided: true,
              style: { color: '#f56c6c' }
            }
          ]"
        >
          <x-icon class="operation" type="fto-more-vertical"></x-icon>
        </x-dropdown>
      </div>
    }
  </div>
}
