<form [formGroup]="formGroup" class="app-dialog-form">
  <x-button x-dialog-close class="close" icon="fto-x" size="large" flat text></x-button>
  <div x-dialog-content class="content">
    <div class="left">
      <h4 class="title">设置</h4>
      <ul>
        @for (menu of menus; track menu) {
          <li [class.selected]="selectedIndex() === $index" (click)="selectMenu($index)">
            <x-icon [type]="menu.icon"></x-icon> {{ menu.label }}
          </li>
        }
      </ul>
    </div>
    <div class="right">
      @if (selectedIndex() === 0) {
        <div class="sub-title">外观</div>
        <div formGroupName="theme" class="theme">
          <div class="item">
            <div class="label">背景</div>
            <x-switch [checkedText]="moonTpl" [unCheckedText]="sunTpl" formControlName="dark"></x-switch>
            <ng-template #moonTpl>
              <div class="theme-icon"><x-icon type="fto-moon"></x-icon> 黑暗</div>
            </ng-template>
            <ng-template #sunTpl>
              <div class="theme-icon"><x-icon type="fto-sun"> </x-icon> 明亮</div>
            </ng-template>
          </div>
          <div class="item" [style.paddingRight.rem]="0">
            <div class="label">主色</div>
            <x-color-picker [style.width.rem]="6.75" variant="borderless" formControlName="primary"></x-color-picker>
          </div>
        </div>
      }
    </div>
  </div>
</form>
